<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>508418375992-pqu5bfegocs7vl6cnl78f6mv1d1hm7ti.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.508418375992-pqu5bfegocs7vl6cnl78f6mv1d1hm7ti</string>
	<key>API_KEY</key>
	<string>AIzaSyAvDuP9UJn_Or-QWKHxMoiPZHU1BzSYlu4</string>
	<key>GCM_SENDER_ID</key>
	<string>508418375992</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.quangkham.ToDo-Reminder</string>
	<key>PROJECT_ID</key>
	<string>swifttodoreminder</string>
	<key>STORAGE_BUCKET</key>
	<string>swifttodoreminder.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:508418375992:ios:d177fc9716ed8d9d6b41cd</string>
	<key>DATABASE_URL</key>
	<string>https://swifttodoreminder.firebaseio.com</string>
</dict>
</plist>
